@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  /* a {
    @apply text-blue-600 underline;
  } */
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    /* background: rgb(26, 26, 26) */
    background: red;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


body {
  padding: 10px;
  max-width: 1300px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.main-heading {
  display: inline-block;
  margin: 2rem 0;
  font-style: normal;
  font-weight: 600;
  background: linear-gradient(89.81deg,
      #7127b8 -1.72%,
      #29a6c9 54.05%,
      #b33e69 99.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-size: 150% 150%;
  animation: gradient 15s ease infinite;
  line-height: 1.2;
}

.main-titles {

  background: linear-gradient(89.81deg,
      #7127b8 -1.72%,
      #29a6c9 54.05%,
      #b33e69 99.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-size: 150% 150%;
  animation: gradient 15s ease infinite;
  line-height: 1.2;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}